.solution-explorer {
  padding-bottom: 45px;

  min-width: 200px;
  width: 250px;
  height: 100%;

  display: block;

  background-color: #f7f7f7;
  border-right: 2px solid #dcdbdb;
}

.solution-explorer-panel {
  position: relative;
  height: 100%;
}

.solution-explorer-panel__header {
  padding: 5px 5px;
  display: flex;
  color: #a5a5a5;
  border-bottom: 2px solid #dcdbdb;
}

.solution-explorer-panel__header__name {
  font-size: 16px;
  flex: 1;
}

.solution-explorer-panel__open-diagrams__header {
  padding-left: 5px;
  padding-top: 5px;
  display:flex;
  color: darkgray;
  font-size: 14px;
}

.solution-explorer-panel__open-diagrams__list {
  margin-top: 2px;
}

.dummy_solution_saved__icon {
  font-size: inherit;
}

.dummy_solution_unsaved__icon {
  font-size: 8px;
  padding-top: 2px;
}

.dummy_solution_unsaved__icon:hover {
  color: green;
}

.solution-explorer-panel__open-diagrams__unsaved-count {
  margin-left: 10px;
  margin-right: 5px;

  padding: 0 4px 0 4px;

  align-self: center;
  background-color: darkgray;
  color: whitesmoke;
  font-size: 70%;
}

.solution-explorer-panel__open-diagrams__icon {
  padding-top: 2px;
}

.solution-explorer-panel__open-diagrams__text {
  padding-left: 5px;
}

.solution-explorer-panel__open-solutions {
  margin-top: 5px;
  border-top: 2px dashed #dcdbdb;
  padding-top: 5px;
}

.solution-explorer-panel__open-solutions__header {
  padding-left: 5px;
  color: darkgray;
}

.solution-explorer-panel__actions {
  display: flex;
}

.dummy_solution {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 8px;
}

.solution-explorer-panel__actions button {
  padding: 0 2px;
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.solution-explorer-panel__actions button:hover {
  color: #5e5e5e;
}

.solution-explorer-panel__input {
  visibility: hidden;
  height: 0;
}

.solution-explorer-panel button {
  min-width: 20px;
}
