.information-text {
  color: #a5a5a5;
}

.data-input-association-enlarge-link {
  color: #007bff !important;
}

.data-input-association-enlarge-link:hover {
  text-decoration: underline !important;
}
