.chapter-selection {
  width: 250px;
  height: 100%;
  overflow: hidden;
  background-color: #f7f7f7;
  border-right: 2px solid #dcdbdb;
}

.chapter-selection__header {
  height: 33px;
  padding: 5px 5px;
  display: flex;
  color: #a5a5a5;
  border-bottom: 2px solid #dcdbdb;
}

.chapter-selection__header-name {
  font-size: 14px;
  flex: 1;
}

.chapter-selection-list {
  height: calc(100% - 33px);
  overflow: scroll;
}

.chapter-selection-list-entry {
  padding: 5px;
  border-bottom: 2px solid #dcdbdb;
  cursor: pointer;
}

.chapter-selection-list-entry__name {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.chapter-selection-list-entry__description {
  display: block;
}
