/*
 * STATUS BAR
 *
*/

.status-bar {
  position: fixed;
  bottom: 0;
  padding: 0 5px;
  width: 100%;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  border-top: 2px solid #e9e9e9;
  background-color: #3f51b5;
  background-color: #9c27b0;
  background-color: #607d8b;
  color: #fff;
  font-size: 11px;
  user-select: none;
  cursor: default;
}

.status-bar__left-bar,
.status-bar__center-bar,
.status-bar__right-bar {
  flex: 1 100%;
}

.status-bar__left-bar {
  display: flex;
  justify-content: flex-start;
}

.status-bar__center-bar {
  display: flex;
  justify-content: space-around;
}

.status-bar__right-bar {
  display: flex;
  justify-content: flex-end;
}

.status-bar__element {
  padding: 0 10px;
  padding-top: 2.5px;
  color: white;
}

.status-bar__element--config-link:hover {
  color: white;
  text-decoration: none;
}

.status-bar__element:hover {
  background-color: #445a65;
}

.status-bar__separator {
  margin: 0 10px;
}

.status-bar__show-xml-button {
  background: inherit;
  color: white;
  border: none;
  padding: 0;
}

.status-bar__help-menu {
  padding: 0;
  border: none;
  background: inherit;
}

.help_dropup-content {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  display: none;
  min-width: 160px;
  background-color: #f1f1f1;
}

.help_dropup-content a {
  padding: 12px 16px;
  display: block;
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.help_dropup-content a:hover {
  background-color: #ccc
}

.help_dropup:hover .help_dropup-content {
  display: block;
}
