.user-login-dropdown {
  position: absolute;  
  top: 38px;  
  right: 33px;
  z-index: 1;
  background-color: whitesmoke;
  border: 2px solid #dcdbdb;
  border-radius: 0;
}

.user-login-dropdown__content {
  padding: 10px;
}

.user-login {
  color: #5c5c5c;
  white-space: nowrap;
}

.user-login span {
  padding-right:8px;
}

.user-login-dropdown__toggle {
  padding: 13px;
  cursor: pointer;
}

.custom-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid darkgray;
}

.custom-button:focus {
  border-color: black;
}

.user-nav-button {
  padding: 3px 10px;
  background: #f7f7f7;
  border: none;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-nav-button:hover {
  background: #5e5e5e;
  color: #fff;
}
