.output-association-enlarge-link {
  display: block;
  color: #007bff !important;
}

.output-association-enlarge-text:hover {
  text-decoration: underline;
}

.output-association {
  min-height: 55px;
  max-height: 400px;
  min-width: 470px;
  max-width: 100%;
  resize: both;
}

.data-source-input {
  height: 100px !important;
}
