.electron button {
  cursor: default;
}

.electron button:not(:disabled) {
  cursor: default;
}

.electron a.tool {
  cursor: default;
}

.electron .dropdown {
  cursor: default;
}

.electron .dropdown-item {
  cursor: default;
}
